/* Body */
body {
    margin: 0 auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 24px;
}

/* Headers */
h1, h2 {
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

/* Canvas */
.canvas-container {
    margin: 0 auto;
    text-align: center;
}

.canvas-container p {
    font-size: 16px;
}

canvas {
    border-radius: 10px 10px 0px 0px;
}

/* Canvas Legend */
ul > li {
    display: inline-block;
    margin-right: 5%;
    margin-top: 1%;
    font-size: 24px;
    margin-top: 0px;
}

#red {
    color: red
}

#green {
    color: green;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#pink {
    color: pink;
}

#aqua {
    color: aqua;
}

.lil-gui.root {
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
}