body {
    background-color: gray;
    color: white;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 28px;
    text-align: center;
}

ol {
    font-size: 24px;
    width: fit-content;
    margin: 0 auto;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: aqua;
    text-decoration: overline;
}